{% extends "tableau/base.html" %}

{% load static %}

{% block content %}
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
  <script src="{% static 'jkanban.js' %}"></script>
</head>
<body>

<script>
    $(document).ready(function() {
        $.ajax({
            url: "{% url 'get_colonnes' %}",
            dataType: "json",
            success: function(data) {
                var kanban = new jKanban({
                    element: '#kanban',
                    boards: data,
                    dragBoards: true,
                    dragItems: true,
                    click: function(el) {
                        console.log(el);
                    },
                    dropEl: function(el, target, source, sibling) {
                        console.log(el);
                        console.log(target);
                        console.log(source);
                        console.log(sibling);
                    },
                    dragEl: function(el, source) {
                        console.log(el);
                        console.log(source);
                    },
                    addItemButton: true,
                    buttonContent: '+',
                    addItem: function(el, boardId) {
                        console.log(el);
                        console.log(boardId);
                    }
                });
            }
        });
    });
</script>
{% endblock %}

