{% extends "tableau/base.html" %}

{% load static %}

{% block content %}
<head>
</head>
<body>
  <div id="myKanban"></div>

  <script src="https://cdn.jsdelivr.net/npm/jkanban@2.0.0/dist/jkanban.min.js"></script>
  <script>
    var board = new jKanban({
      element: '#myKanban',
      gutter: '10px',
      widthBoard: '250px',
      dragBoards: false,
      dragItems: true,
      boards: [
        {
          id: 'todo',
          title: 'To Do',
          item: [
            {
              title: 'Task 1',
              description: 'This is the first task.',
              id: 'task1'
            },
            {
              title: 'Task 2',
              description: 'This is the second task.',
              id: 'task2'
            }
          ]
        },
        {
          id: 'inprogress',
          title: 'In Progress',
          item: [
            {
              title: 'Task 3',
              description: 'This is the third task.',
              id: 'task3'
            }
          ]
        },
        {
          id: 'done',
          title: 'Done',
          item: [
            {
              title: 'Task 4',
              description: 'This is the fourth task.',
              id: 'task4'
            }
          ]
        }
      ]
    });
  </script>
</body>
</html>
{% endblock %}

