{% extends "base.html" %}

{% block content %}
<head>
    <script src="{% static 'jkanban.js' %}"></script>
</head>
<body>
    <div id="kanban"></div>
</body>

<script>
    $(document).ready(function() {
        $.ajax({
            url: "{% url 'kanban' %}",
            dataType: "json",
            success: function(data) {
                var kanban = new jKanban({
                    element: '#kanban',
                    boards: data
                });
            }
        });
    });
</script>
{% endblock %}
